
<style>
table{margin:auto; width:80%; margin-top:10%;}
    table td{text-align: center;font-size:35px; font-weight:bold}
    table td.red{color:red;height:50px;}
    table td.blue{color:blue;height:50px;}
    table td.hr{height:2px;}
</style>
<script type="text/javascript"></script>
<body>
<form action="{$sub_url}" method="post">
<table border="1" cellspacing="0">
    <tr>
        <td colspan="6">红色</td>
        <td>蓝色</td>
    </tr>
    <foreach name='data' item='value' key='key'>
    <tr>
        <foreach name='value.red' item='red'>
        <td class="red">{$red}</td>
        </foreach>
        <td class="blue">{$value.blue}</td>
    </tr>
    <tr>
        <td class="hr" colspan="7"></td>
    </tr>
    </foreach>
    <tr>
        <td colspan="7">
            <input type="button" id="refresh" value="刷新" />
            <input type="button" id="submit" value="购买" />
        </td>
    </tr>
</table>
</form>
<script type="text/javascript">
    $(function(){
        $("#refresh").click(function(){
            window.location.reload();
        })
    })
</script>